
@font-face {
    font-family: Montserrat-Light;
    src: url("fonts/Montserrat/Montserrat-Light.ttf")
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat/Montserrat-Bold.ttf")
}

@font-face {
    font-family: Cabin-Medium;
    src: url("fonts/Cabin/Cabin-Medium.ttf")
}

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: Montserrat-Light;
}

body{
    background: #E6ECEE;
}
/* 
div, main, h1{
    border: 1px solid red;
} */

nav {
    position: sticky;
    top: 0;
    display: flex;
    background: #FFFFFF;
    padding: 10px 40px;
    box-shadow: 1px 1px 10px #36363691;
    justify-content: center;
    align-items: center;
}


.link-container {
    list-style: none;
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
}


nav .link-container {
    gap: 40px;
}

nav .link {
    color: black;
}

main .link-container {
    gap: 20px;
}

main .link{
    color: white;
}

.btn {
    background: none;
    border: none;
}

.nav-btn {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn:hover, .btn:active{
    filter: brightness(80%);
}


h1, h2, h3, h4, h5, h6, #greeting{
    font-family: Montserrat-Bold;
}

.pfp-con, .pfp {
    height: 150px;
    width: 150px;
}
.pfp-container {
    overflow-x: hidden;
    border-radius: 50%;
}

.pfp {
    object-fit:cover;
    object-position: center center;
}

.more {
    margin-top: 10dvh;
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
}


#hero {
    background: url("media/backgrounds/bg1.jpg") no-repeat, rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    height: 75dvh;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#hero-card {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    max-width: 20rem;
}

#welcome-section {
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px #cecece;
}

section {
    padding: 70px 50dvh;
    gap: 5dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.section-top {
    display: flex;
    gap: 10dvh;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.section-bottom {
    font-family: Cabin-Medium;
    color: rgb(97, 97, 97);
}

.my-skill-sey {
    color: black;
    font-size: 2rem;
    border: 1px solid red;
}
#about-me div {
    max-width: 50dvh;
}

#about-me {
    font-size: 1.25rem;
    font-weight: 500;
}

#greeting{
    font-size: 2rem;
}
