
@font-face {
    font-family: Montserrat-Light;
    src: url("assets/fonts/Montserrat-Light.ttf")
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("assets/fonts/Montserrat-Regular.ttf")
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("assets/fonts/Montserrat-Medium.ttf")
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url("assets/fonts/Montserrat-SemiBold.ttf")
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("assets/fonts/Montserrat-Bold.ttf")
}
@font-face {
    font-family: Montserrat-Black;
    src: url("assets/fonts/Montserrat-Black.ttf")
}
@font-face {
    font-family: Hoppipola;
    src: url("assets/fonts/hoppipola.otf")
}

:root {

    --max-tier-img-size: 200px;

    --bisu-gold: #FF9028;
}


* {
    scroll-behavior : smooth;
    padding         : 0;
    margin          : 0;
    box-sizing      : border-box;
    font-family     : Montserrat-Regular;
}

body{
    /* background: #12213b; */
    background: #F8F8FF;
    color: #2A2A2A;
}


a {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
}

nav {
    /* border      : 1px solid red; */
    position    : sticky;
    top         : 0;
    padding     : 10px 40px;
    background: white;
    display: flex;
    justify-content: center;
    gap: 2em;
   
}

.section:not(#hero) {
    /* border: 1px solid yellow; */
    min-height: 90dvh;
    padding: 2em;
}

#hero {
    /* border: 1px solid red; */
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90dvh;
    justify-content: center;
    color: white;
    align-items: center;
    
    .left {
        display: flex;
        justify-content: center;
        height: inherit;
        z-index: -1;

        img {
            position: absolute;
            height: inherit;
        }
        .background {
            width: 100%;
            left: 0;
        }
        .midground {
            left: 0;
        }
    }

    .right {
        /* border: 1px solid red; */
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;

        .details{
            display: flex;
            flex-direction: column;
            gap: 1em;

            .name {
                /* border: 1px solid red; */
                margin-top: 1em;
                width: 75%;
                line-height: 40px;
                font-size: 3.25em;
                font-family:  Montserrat-Bold;
            }
    
            .school {
                /* border: 1px solid red; */
                color: var(--bisu-gold);
                width: fit-content;
                font-size: 0.85em;
                display: flex;
                gap: 0.25em;
                flex-direction: column;
    
                hr {
                    border: none;
                    border-bottom: 1px solid var(--bisu-gold);
                }   
                .school-name {
                    letter-spacing: 0.25px;
                }
                .school-program {
                    font-family: Montserrat-bold;
                    letter-spacing: 1px;
                }
            }
        }

        .credo {
            /* border: 1px solid red; */
            width: 60%;
            letter-spacing: 2px;
            font-size: 1.5em;
            text-align: center;
            font-family: Hoppipola;
        }

        .icon-list {
            gap: 2em;
            font-size: 0.8em;
            color: var(--bisu-gold);
        }

        p, span, h1 {
            color: inherit;
        }
    }
}

#personal-info {
    /* border          : 1px solid purple; */
    display: grid;
    grid-template-columns: 25% 25%;
    align-items: center;
    justify-content: center;

    .left, .right {
        /* border: 1px solid red; */
        padding: 2em;
    }
}

#skillset {
    /* border          : 1px solid purple; */
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : 1em;
}


.tier {
    /* border      : 1px solid green; */
    display     : flex;
    align-items : center;
    gap         : 1em;
}
.tier img {
    /* border      : 1px solid red; */
    object-fit  : cover;
    height      : var(--max-tier-img-size);
}
.tier-1 img {
    height: calc(var(--max-tier-img-size) * .75);
}
.tier-2 img {
    height: calc(var(--max-tier-img-size) * .40);
}
.tier-3 img {
    height: calc(var(--max-tier-img-size) * .25);
}

.icon-list {
    display: flex;
    gap: 0.5em;
    padding: 0.25em;
}

@media (max-width:768px){

}
