
/* 
    Author: Mark Ryan I. Hilario (bluery0206)
    Date: Jun 15, 2025

    regular : 400fw
    bold    : 700fw
*/


/* REGULARS */

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterLight.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterRegular.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterMedium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterBold.ttf");
    font-weight: bold; /* 700 */
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterExtraBold.ttf");
    font-weight: 800; 
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/montserrat/");
    font-weight: 900;
}



/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    font-weight: bold; /* 700 */
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    font-weight: 800; 
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'Hoppipola';
    src: url("../fonts/hoppipola.otf");
}


/* Italics */
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterLightItalic.ttf");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterMediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterSemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/inter/InterBlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
